# Byte-compiled / optimized / DLL files
__pycache__/
.cache/
.vscode/
*.py[cod]

#personal files
details.yaml
added-jobs*.csv
plugins/scoreboard.yaml
plugins/bans.yaml
plugins/battling/teams.yaml
plugins/stats/*

# logs
logs/
