# Byte-compiled / optimized / DLL files
__pycache__/
.cache/
*.py[cod]

#personal files
details.yaml
plugins/scoreboard.yaml
plugins/bans.yaml
plugins/tournament-rankings.yaml
plugins/battling/teams.yaml

# logs
logs/
