# Byte-compiled / optimized / DLL files
__pycache__/
.cache/
.vscode/
*.py[cod]

#personal files
details.yaml
plugins/scoreboard.yaml
plugins/bans.yaml
plugins/battling/teams.yaml
plugins/stats/*
*/tournament-rankings.yaml

# Room specific
plugins/neverused

# logs
logs/
